@model OpenRobotics.Models.ContasPagar

@{
    ViewData["Title"] = "Edit";
}

<h1>Editar</h1>

<h4>Contas a receber</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="IdContaPagar" />
            <div class="form-group">
                <label asp-for="Vencimento" class="control-label"></label>
                <input asp-for="Vencimento" class="form-control" />
                <span asp-validation-for="Vencimento" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Valor" class="control-label"></label>
                <input asp-for="Valor" class="form-control" id="inputMoney" type="text" />
                <span asp-validation-for="Valor" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DataEmissao" class="control-label"></label>
                <input asp-for="DataEmissao" class="form-control" />
                <span asp-validation-for="DataEmissao" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NumeroDocumento" class="control-label"></label>
                <input asp-for="NumeroDocumento" class="form-control" />
                <span asp-validation-for="NumeroDocumento" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Competencia" class="control-label"></label>
                <input asp-for="Competencia" class="form-control" />
                <span asp-validation-for="Competencia" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FormaPagamento" class="control-label">Forma de pagamento</label>
                <select asp-for="FormaPagamento" class="form-control">
                    @if (Model.FormaPagamento == "Boleto bancário")
                    {
                        <option value="Boleto bancário" selected>Boleto bancário</option>
                        <option value="Cartão de crédito">Cartão de crédito</option>
                        <option value="Cartão de débito">Cartão de débito</option>
                        <option value="PIX">PIX</option>
                    }
                    else if (Model.FormaPagamento == "Cartão de crédito")
                    {
                        <option value="Boleto bancário">Boleto bancário</option>
                        <option value="Cartão de crédito" selected>Cartão de crédito</option>
                        <option value="Cartão de débito">Cartão de débito</option>
                        <option value="PIX">PIX</option>
                    }
                    else if (Model.FormaPagamento == "Cartão de débito")
                    {
                        <option value="Boleto bancário">Boleto bancário</option>
                        <option value="Cartão de crédito">Cartão de crédito</option>
                        <option value="Cartão de débito" selected>Cartão de débito</option>
                        <option value="PIX">PIX</option>
                    }
                    else if (Model.FormaPagamento == "PIX")
                    {
                        <option value="Boleto bancário">Boleto bancário</option>
                        <option value="Cartão de crédito">Cartão de crédito</option>
                        <option value="Cartão de débito">Cartão de débito</option>
                        <option value="PIX" selected>PIX</option>
                    }
                </select>
                <span asp-validation-for="FormaPagamento" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Historico" class="control-label"></label>
                <input asp-for="Historico" class="form-control" />
                <span asp-validation-for="Historico" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="IdCategoria" class="control-label">Categoria</label>
                @Html.DropDownListFor(r => Model.IdCategoria, new SelectList((IEnumerable<SelectListItem>)ViewBag.Categoria, "Value", "Text"), new { @class = "form-control", @style = "width:50%;" })
            </div>
            <div class="form-group">
                <label asp-for="Tipo" class="control-label"></label>
                <input asp-for="Tipo" class="form-control" />
                <span asp-validation-for="Tipo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="IdCliente" class="control-label">Cliente</label>
                @Html.DropDownListFor(r => Model.IdCliente, new SelectList((IEnumerable<SelectListItem>)ViewBag.Cliente, "Value", "Text"), new { @class = "form-control", @style = "width:50%;" })
            </div>
            <br />
            <div class="form-group">
                <input type="submit" value="Salvar" class="btn btn-primary" />
                <a class="btn btn-secondary" asp-action="Index">Voltar para a lista</a>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
