@model OpenRobotics.Models.ContasReceber

@{
    ViewData["Title"] = "Create";
}

<h1>Criar</h1>

<h4>Contas a receber</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Vencimento" class="control-label"></label>
                <input asp-for="Vencimento" class="form-control" />
                <span asp-validation-for="Vencimento" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Valor" class="control-label"></label>
                <input asp-for="Valor" class="form-control" />
                <span asp-validation-for="Valor" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DataEmissao" class="control-label"></label>
                <input asp-for="DataEmissao" class="form-control" />
                <span asp-validation-for="DataEmissao" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NumeroDocumento" class="control-label"></label>
                <input asp-for="NumeroDocumento" class="form-control" />
                <span asp-validation-for="NumeroDocumento" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Competencia" class="control-label"></label>
                <input asp-for="Competencia" class="form-control" />
                <span asp-validation-for="Competencia" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FormaPagamento" class="control-label"></label>
                <input asp-for="FormaPagamento" class="form-control" />
                <span asp-validation-for="FormaPagamento" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Categoria" class="control-label"></label>
                <input asp-for="Categoria" class="form-control" />
                <span asp-validation-for="Categoria" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Historico" class="control-label"></label>
                <input asp-for="Historico" class="form-control" />
                <span asp-validation-for="Historico" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Tipo" class="control-label"></label>
                <input asp-for="Tipo" class="form-control" />
                <span asp-validation-for="Tipo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Situacao" class="control-label"></label>
                <input asp-for="Situacao" class="form-control" />
                <span asp-validation-for="Situacao" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="IdCliente" class="control-label"></label>
                @Html.DropDownListFor(r => Model.IdCliente, new SelectList((IEnumerable<SelectListItem>)ViewBag.Cliente, "Value", "Text"), new { @class = "form-control", @style = "width:50%;" })
            </div>
            <br />
            <div class="form-group">
                <input type="submit" value="Criar" class="btn btn-primary" />
                <a asp-action="Index" class="btn btn-secondary">Voltar para lista</a>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
