html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

/*Alternância de cores para cada linha da tabela*/
table {
    text-align: center;
    font-family: Montserrat, Arial, sans-serif;
    margin: 0 auto;
    width: 80%;
}

tr:nth-child(even) {
    background: lightgray;
}